
*.pyc
input_and_definition_files/postproc/dQ_archive/upstream_gage_numbers.csv
input_and_definition_files/postproc/dQ_archive/upstream_gage_numbers_springs.csv
input_and_definition_files/postproc/dQ_archive/test5_2sp.lst.out.csv
input_and_definition_files/postproc/dQ_archive/test5_2sp.lst
input_and_definition_files/postproc/dQ_archive/test.lst.out.csv
input_and_definition_files/postproc/dQ_archive/test.lst
input_and_definition_files/postproc/dQ_archive/temp/RiverPackageInput.py
input_and_definition_files/postproc/dQ_archive/temp/nfseg.riv.sp2.shelf
input_and_definition_files/postproc/dQ_archive/temp/nfseg.riv.sp2
input_and_definition_files/postproc/dQ_archive/temp/nfseg.riv.sp1.shelf
input_and_definition_files/postproc/dQ_archive/temp/nfseg.riv.sp1
input_and_definition_files/postproc/dQ_archive/temp/nfseg.ghb.sp2.shelf
input_and_definition_files/postproc/dQ_archive/temp/nfseg.ghb.sp2
input_and_definition_files/postproc/dQ_archive/temp/nfseg.ghb.sp1.shelf
input_and_definition_files/postproc/dQ_archive/temp/nfseg.ghb.sp1
input_and_definition_files/postproc/dQ_archive/temp/nfseg.drn.sp2
input_and_definition_files/postproc/dQ_archive/temp/nfseg.drn.sp1.bak
input_and_definition_files/postproc/dQ_archive/temp/nfseg.drn.sp1
input_and_definition_files/postproc/dQ_archive/temp/nfseg.drn
input_and_definition_files/postproc/dQ_archive/temp/lookup_bc_reach_ids.shelf
input_and_definition_files/postproc/dQ_archive/temp/GHBPackageInput.py
input_and_definition_files/postproc/dQ_archive/temp/create_reach_id_lookup.py
input_and_definition_files/postproc/dQ_archive/temp/create_reach_id_lookup.bat.bak
input_and_definition_files/postproc/dQ_archive/temp/create_reach_id_lookup.bat
input_and_definition_files/postproc/dQ_archive/temp/create_delta_q_report.py
input_and_definition_files/postproc/dQ_archive/temp/add_drn_to_lookup_bc_reach_ids_shelf.py
input_and_definition_files/postproc/dQ_archive/sum_deltaQ_from_contributing_reaches.py.bak
input_and_definition_files/postproc/dQ_archive/station_number_and_names_springs.csv
input_and_definition_files/postproc/dQ_archive/station_number_and_names.csv.bak
input_and_definition_files/postproc/dQ_archive/station_number_and_names.csv
input_and_definition_files/postproc/dQ_archive/springs_nfseg_02052015.dbf.xml
input_and_definition_files/postproc/dQ_archive/springs_nfseg_02052015.dbf
input_and_definition_files/postproc/dQ_archive/springs_nfseg_02052015.cpg
input_and_definition_files/postproc/dQ_archive/spring_ids.xlsx
input_and_definition_files/postproc/dQ_archive/spring_ids.csv
input_and_definition_files/postproc/dQ_archive/simulated_flows_from_modflow_listing_file_nwt.inp
input_and_definition_files/postproc/dQ_archive/schema.ini
input_and_definition_files/postproc/dQ_archive/readme.txt
input_and_definition_files/postproc/dQ_archive/nfseg_station_number_and_names_springs.csv
input_and_definition_files/postproc/dQ_archive/nfseg_auto_springs.xlsx
input_and_definition_files/postproc/dQ_archive/lookup_bc_reach_ids_auto.shelf
input_and_definition_files/postproc/dQ_archive/lookup_bc_reach_ids.shelf
input_and_definition_files/postproc/dQ_archive/gaged_reach_definitions.csv
input_and_definition_files/postproc/dQ_archive/gaged_fluxes_sum.csv
input_and_definition_files/postproc/dQ_archive/delta_q_details.csv
model_update_archive/description_of_nfseg_hydrologic_features_and_corresponding_modflow_input_file_names.xlsx
model_update_archive/evt_rate_after_mul_2001.ref
model_update_archive/evt_rate_after_mul_2009.ref
model_update_archive/ibound1.inf
model_update_archive/ibound2.inf
model_update_archive/ibound3.inf
model_update_archive/ibound4.inf
model_update_archive/ibound5.inf
model_update_archive/ibound6.inf
model_update_archive/ibound7.inf
model_update_archive/kx1.ref
model_update_archive/kx2.ref
model_update_archive/kx3.ref
model_update_archive/kx4.ref
model_update_archive/kx5.ref
model_update_archive/kx6.ref
model_update_archive/kx7.ref
model_update_archive/kz1.ref
model_update_archive/kz2.ref
model_update_archive/kz3.ref
model_update_archive/kz4.ref
model_update_archive/kz5.ref
model_update_archive/kz6.ref
model_update_archive/kz7.ref
model_update_archive/mfnwt.in
model_update_archive/mfnwt_complex.in
model_update_archive/mfnwt_simple.in
model_update_archive/MODFLOW-NWT_64.exe
model_update_archive/nfseg.bas
model_update_archive/nfseg.chd
model_update_archive/nfseg.dis
model_update_archive/nfseg.nwt
model_update_archive/nfseg.oc
model_update_archive/nfseg.upw
model_update_archive/nfseg.zone
model_update_archive/nfseg_100iter.nwt
model_update_archive/nfseg_auto.cbb
model_update_archive/nfseg_auto.cbw
model_update_archive/nfseg_auto.crc
model_update_archive/nfseg_auto.ddn
model_update_archive/nfseg_auto.hds
model_update_archive/nfseg_auto.lst
model_update_archive/nfseg_auto_2009.nam
model_update_archive/nfseg_sh.hds
model_update_archive/nfseg_sh_orig.hds
model_update_archive/nfseg_sp1_and_sp2_are_2009.drn
model_update_archive/nfseg_sp1_and_sp2_are_2009.evt
model_update_archive/nfseg_sp1_and_sp2_are_2009.ghb
model_update_archive/nfseg_sp1_and_sp2_are_2009.mnw2
model_update_archive/nfseg_sp1_and_sp2_are_2009.rch
model_update_archive/nfseg_sp1_and_sp2_are_2009.riv
model_update_archive/readme.pdf
model_update_archive/recharge_mul_2001.ref
model_update_archive/recharge_mul_2009.ref
gis/archive/dh.gdb/a00000001.gdbindexes
gis/archive/dh.gdb/a00000001.gdbtable
gis/archive/dh.gdb/a00000001.gdbtablx
gis/archive/dh.gdb/a00000001.TablesByName.atx
gis/archive/dh.gdb/a00000002.gdbtable
gis/archive/dh.gdb/a00000002.gdbtablx
gis/archive/dh.gdb/a00000003.gdbindexes
gis/archive/dh.gdb/a00000003.gdbtable
gis/archive/dh.gdb/a00000003.gdbtablx
gis/archive/dh.gdb/a00000004.CatItemsByPhysicalName.atx
gis/archive/dh.gdb/a00000004.CatItemsByType.atx
gis/archive/dh.gdb/a00000004.FDO_UUID.atx
gis/archive/dh.gdb/a00000004.gdbindexes
gis/archive/dh.gdb/a00000004.gdbtable
gis/archive/dh.gdb/a00000004.gdbtablx
gis/archive/dh.gdb/a00000004.spx
gis/archive/dh.gdb/a00000005.CatItemTypesByName.atx
gis/archive/dh.gdb/a00000005.CatItemTypesByParentTypeID.atx
gis/archive/dh.gdb/a00000005.CatItemTypesByUUID.atx
gis/archive/dh.gdb/a00000005.gdbindexes
gis/archive/dh.gdb/a00000005.gdbtable
gis/archive/dh.gdb/a00000005.gdbtablx
gis/archive/dh.gdb/a00000006.CatRelsByDestinationID.atx
gis/archive/dh.gdb/a00000006.CatRelsByOriginID.atx
gis/archive/dh.gdb/a00000006.CatRelsByType.atx
gis/archive/dh.gdb/a00000006.FDO_UUID.atx
gis/archive/dh.gdb/a00000006.gdbindexes
gis/archive/dh.gdb/a00000006.gdbtable
gis/archive/dh.gdb/a00000006.gdbtablx
gis/archive/dh.gdb/a00000007.CatRelTypesByBackwardLabel.atx
gis/archive/dh.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
gis/archive/dh.gdb/a00000007.CatRelTypesByForwardLabel.atx
gis/archive/dh.gdb/a00000007.CatRelTypesByName.atx
gis/archive/dh.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
gis/archive/dh.gdb/a00000007.CatRelTypesByUUID.atx
gis/archive/dh.gdb/a00000007.gdbindexes
gis/archive/dh.gdb/a00000007.gdbtable
gis/archive/dh.gdb/a00000007.gdbtablx
gis/archive/dh.gdb/gdb
gis/archive/dh.gdb/timestamps
gis/archive/temp_updatedLinks.mxd
input_and_definition_files/preproc/wellpkg_update_archive/case_007c_eval.mxd
input_and_definition_files/preproc/wellpkg_update_archive/nfseg_auto_preproc_test.mxd
input_and_definition_files/preproc/wellpkg_update_archive/nfseg_v1_1_grid.cpg
input_and_definition_files/preproc/wellpkg_update_archive/nfseg_v1_1_grid.dbf
input_and_definition_files/preproc/wellpkg_update_archive/nfseg_v1_1_grid.sbn
input_and_definition_files/preproc/wellpkg_update_archive/nfseg_v1_1_grid.sbx
input_and_definition_files/preproc/wellpkg_update_archive/nfseg_v1_1_grid.shp
input_and_definition_files/preproc/wellpkg_update_archive/nfseg_v1_1_grid.shp.xml
input_and_definition_files/preproc/wellpkg_update_archive/nfseg_v1_1_grid.shx
input_and_definition_files/preproc/wellpkg_update_archive/temp.mxd
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_header_nfseg.asc
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_stress_period_01_records_nfseg.asc
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000001.freelist
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000001.gdbindexes
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000001.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000001.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000001.TablesByName.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000002.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000002.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000003.gdbindexes
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000003.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000003.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000004.CatItemsByPhysicalName.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000004.CatItemsByType.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000004.FDO_UUID.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000004.freelist
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000004.gdbindexes
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000004.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000004.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000004.spx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000005.CatItemTypesByName.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000005.CatItemTypesByParentTypeID.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000005.CatItemTypesByUUID.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000005.gdbindexes
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000005.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000005.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000006.CatRelsByDestinationID.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000006.CatRelsByOriginID.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000006.CatRelsByType.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000006.FDO_UUID.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000006.freelist
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000006.gdbindexes
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000006.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000006.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000007.CatRelTypesByBackwardLabel.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000007.CatRelTypesByForwardLabel.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000007.CatRelTypesByName.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000007.CatRelTypesByUUID.atx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000007.gdbindexes
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000007.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a00000007.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ac.gdbindexes
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ac.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ac.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ac.spx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ad.gdbindexes
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ad.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ad.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ad.spx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ae.gdbindexes
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ae.gdbtable
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ae.gdbtablx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/a000001ae.spx
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/gdb
input_and_definition_files/preproc/wellpkg_update_archive/wellpkg_update.gdb/timestamps
gis/archive/cup.gdb.zip
src/nfseg_lakeufahds_20200627_archive/program/InactiveCellsImpactOnUFAHDs.xlsx
src/nfseg_lakeufahds_20200627_archive/program/nfseg.hds
src/nfseg_lakeufahds_20200627_archive/program/nfseg.lakeufahds.exe
src/nfseg_lakeufahds_20200627_archive/program/nfseg.lakeufahds.f
src/nfseg_lakeufahds_20200627_archive/program/readme.txt
src/nfseg_lakeufahds_20200627_archive/program/WaterBodiesFromJohnGood.dat
src/nfseg_lakeufahds_20200627_archive/program/WaterBodiesFromJohnGood.ufahds
src/nfseg_lakeufahds_20200627_archive/program/WaterBodiesFromTrey.dat
src/nfseg_lakeufahds_20200627_archive/program/WaterBodiesFromTrey.ufahds
src/nfseg_lakeufahds_20200627_archive/program/WaterBodiesFromTrey_working.xlsx
src/nfseg_lakeufahds_20200627_archive/program/WaterBodiesFromVito.dat
src/nfseg_lakeufahds_20200627_archive/program/WaterBodiesFromVito.ufahds
src/nfseg_lakeufahds_20200627_archive/reference_files/2013_05_22_HUSLEY_3682_MFL_DDNS_ AND_SPRINGFLOWS.xlsx
src/nfseg_lakeufahds_20200627_archive/reference_files/List_SJR_SR_MFL_Lakes_and_Springs.csv
src/nfseg_lakeufahds_20200627_archive/reference_files/SJRWMD_MFL_Lakes_Wetlands_All_Cols.xlsx
src/nfseg_lakeufahds_20200627_archive/shapefiles/Intersect_MFLlakes_NFSEGgrid.dbf
src/nfseg_lakeufahds_20200627_archive/shapefiles/Intersect_MFLlakes_NFSEGgrid.prj
src/nfseg_lakeufahds_20200627_archive/shapefiles/Intersect_MFLlakes_NFSEGgrid.sbn
src/nfseg_lakeufahds_20200627_archive/shapefiles/Intersect_MFLlakes_NFSEGgrid.sbx
src/nfseg_lakeufahds_20200627_archive/shapefiles/Intersect_MFLlakes_NFSEGgrid.shp
src/nfseg_lakeufahds_20200627_archive/shapefiles/Intersect_MFLlakes_NFSEGgrid.shp.xml
src/nfseg_lakeufahds_20200627_archive/shapefiles/Intersect_MFLlakes_NFSEGgrid.shx
src/nfseg_lakeufahds_20200627_archive/shapefiles/TreyMFLIntersect_NFSEGGrid.cpg
src/nfseg_lakeufahds_20200627_archive/shapefiles/TreyMFLIntersect_NFSEGGrid.dbf
src/nfseg_lakeufahds_20200627_archive/shapefiles/TreyMFLIntersect_NFSEGGrid.prj
src/nfseg_lakeufahds_20200627_archive/shapefiles/TreyMFLIntersect_NFSEGGrid.sbn
src/nfseg_lakeufahds_20200627_archive/shapefiles/TreyMFLIntersect_NFSEGGrid.sbx
src/nfseg_lakeufahds_20200627_archive/shapefiles/TreyMFLIntersect_NFSEGGrid.shp
src/nfseg_lakeufahds_20200627_archive/shapefiles/TreyMFLIntersect_NFSEGGrid.shp.xml
src/nfseg_lakeufahds_20200627_archive/shapefiles/TreyMFLIntersect_NFSEGGrid.shx
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor.cpg
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor.dbf
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor.prj
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor.sbn
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor.sbx
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor.shp
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor.shp.xml
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor.shx
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor_MFLIntersect_NFSEGGrid.cpg
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor_MFLIntersect_NFSEGGrid.dbf
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor_MFLIntersect_NFSEGGrid.prj
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor_MFLIntersect_NFSEGGrid.sbn
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor_MFLIntersect_NFSEGGrid.sbx
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor_MFLIntersect_NFSEGGrid.shp
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor_MFLIntersect_NFSEGGrid.shp.xml
src/nfseg_lakeufahds_20200627_archive/shapefiles/Watermelon_Andrews_Governor_MFLIntersect_NFSEGGrid.shx
model_update/description_of_nfseg_hydrologic_features_and_corresponding_modflow_input_file_names.xlsx
model_update/evt_rate_after_mul_2001.ref
model_update/evt_rate_after_mul_2009.ref
model_update/ibound1.inf
model_update/ibound2.inf
model_update/ibound3.inf
model_update/ibound4.inf
model_update/ibound5.inf
model_update/ibound6.inf
model_update/ibound7.inf
model_update/kx1.ref
model_update/kx2.ref
model_update/kx3.ref
model_update/kx4.ref
model_update/kx5.ref
model_update/kx6.ref
model_update/kx7.ref
model_update/kz1.ref
model_update/kz2.ref
model_update/kz3.ref
model_update/kz4.ref
model_update/kz5.ref
model_update/kz6.ref
model_update/kz7.ref
model_update/mfnwt.in
model_update/mfnwt_complex.in
model_update/mfnwt_simple.in
model_update/MODFLOW-NWT_64.exe
model_update/nfseg.bas
model_update/nfseg.chd
model_update/nfseg.dis
model_update/nfseg.nwt
model_update/nfseg.oc
model_update/nfseg.upw
model_update/nfseg.zone
model_update/nfseg_100iter.nwt
model_update/nfseg_sh.hds
model_update/nfseg_sp1_and_sp2_are_2009.drn
model_update/nfseg_sp1_and_sp2_are_2009.evt
model_update/nfseg_sp1_and_sp2_are_2009.ghb
model_update/nfseg_sp1_and_sp2_are_2009.mnw2
model_update/nfseg_sp1_and_sp2_are_2009.rch
model_update/nfseg_sp1_and_sp2_are_2009.riv
model_update/readme.pdf
model_update/recharge_mul_2001.ref
model_update/recharge_mul_2009.ref
model_update_archive/mfnwt_jd.exe
model_update_archive/nfseg_sh.2009_2009.hds
model_update/nfseg_auto.nwt
model_update/nfseg_auto_2009.nam
model_update/nfseg_sp1_and_sp2_are_2009.chd
model_update/nfseg_auto_2009.nam
model_update/nfseg_auto_2009.nam
model_update/nfseg_auto_2009.nam
